<div class="navbar">
  <div class="nav-link nav-intro">
    Intro
  </div>
  <div class="nav-link nav-projects">
    Projects
  </div>
  <div class="nav-link nav-contact">
    Contact
  </div>
</div>
